<heeder>
  <% if user_signed_in? %>
  <li>
    <%= link_to "home", root_path %>
  </li>
  <li>
    <%= link_to "users", users_path %>
  </li>
  <li>
    <%= link_to "books", books_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
  <% else %>
    <li>
      <%= link_to "home", root_path %>
    </li>
    <li>
      <%= link_to "about", homes_about_path %>
    </li>
    <li>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
  <% end %>
</heeder>